@model TitleDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name Düzenle</h1>
<!--Departman Listesi-->
<div class="container mt-4">
    <form method="post">
        <table id="datatable"
               class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ünvan Adı</th>                   
                    <th>Departman Adı</th>
                    <th>Ünvan Ağırlığı</th>
                    <th>Düzenle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ID</td>
                    <td><input asp-for="Name" type="text" class="form-control"></td>                   
                    <td>
                        <select class="form-select" asp-for="Departmant.ID" asp-items="@(new SelectList(Model.Departmants,"ID","Name"))">
                        </select>
                    </td>
                    <td> <input asp-for="Weight" type="number" class="form-control"></td>
                    <input asp-for="CreatedDate" type="hidden" class="form-control">
                    <td> <button type="submit" class="btn btn-warning">Düzenle</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<!--Departman Listesi-->


