@model UserDto

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Kullanıcı Ekle
</button>
<!-- AddModal -->
<form asp-controller="User" asp-action="Add" method="post">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Kullanıcı Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label class="form-label">Kullanıcı Adı</label>
                    <input asp-for="Username" type="text" class="form-control">
                    <label class="form-label">Kullanıcı Mail</label>
                    <input asp-for="Mail" type="text" class="form-control">
                    <label class="form-label">Kullanıcı Telefonu</label>
                    <input asp-for="PhoneNumber" type="tel" class="form-control">
                   @* <label class="form-label">Kullanıcıya Bağlı Departmanlar</label>
                    <select asp-for="DepartmantIds" asp-items="@ViewBag.DepartmantsSelectlist" class="form-select mt-3" multiple data-mdb-container="staticBackdrop" data-mdb-filter="true" data-placeholder="Choose anything">
                    </select>*@
                    <label class="form-label">Kullanıcıya Bağlı Şubeler</label>
                    <select asp-for="BranchIds" asp-items="@ViewBag.BranchesSelectlist" class="form-select mt-3" multiple data-mdb-container="staticBackdrop" data-mdb-filter="true" data-placeholder="Choose anything">
                    </select>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    
}