@model BranchDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name Düzenle</h1>
<!--Departman Listesi-->
<div class="container mt-4">
    <form method="post">
        <table id="datatable"
               class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>PhoneNumber</th>


                    <th>Düzenle</th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>@Model.ID</td>
                    <td><input asp-for="Name" type="text" class="form-control"></td>
                    <td> <input asp-for="Address" type="text" class="form-control"></td>
                    <td> <input asp-for="PhoneNumber" type="tel" class="form-control"></td>
                   
                    <input asp-for="CreatedDate" type="hidden" class="form-control">


                    <td> <button type="submit" class="btn btn-warning">Düzenle</button></td>


                </tr>




            </tbody>
        </table>
    </form>
</div>
<!--Departman Listesi-->
@section Scripts{
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
}

